
//@use "material-components-web";

//top bar
@use "@material/top-app-bar/mdc-top-app-bar";

//tabs
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
//progress
@use "@material/linear-progress/mdc-linear-progress";
//textfield
@use "@material/textfield";
//buttons
@use '@material/button/mdc-button';
@use '@material/button';

@use "@material/icon-button";
@use "@material/card";


@import "@material/layout-grid/mdc-layout-grid";

// Import your theme variables
@import "theme";

// Import MDC Web components
@import "@material/typography/mdc-typography";



//textfield
@include textfield.core-styles;

@include icon-button.core-styles;

@include card.core-styles;

.tweet-card-content {
    padding: 16px;
  }
.tweet-card {
width: 350px;
margin: 16px;
}


.content {
  display: none;
}

.content--active {
  display: block;
}


//SNACKBAR STUFF from demo https://codepen.io/78lab/pen/VKzdoL
/*
  Please note this CSS is currently in   prototype form. We'll implement a cleaned up version in Web Starter Kit.
*/

.paper-snackbar {
  transition-property: opacity, bottom, left, right, width, margin, border-radius;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  //font-family: RobotoDraft;
  font-size: 14px;
  min-height: 14px;
  background-color: #323232;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  line-height: 22px;
  padding: 18px 24px;
  bottom: 0px;
  opacity: 0;

}

@media (min-width: 640px) {
  .paper-snackbar {
    /*
    Desktop:
      Single-line snackbar height: 48 dp tall
      Minimum width: 288 dp
      Maximum width: 568 dp
      2 dp rounded corner
      Text: Roboto Regular 14 sp
      Action button: Roboto Medium 14 sp, all-caps text
      Default background fill: #323232 100%
    */

    min-width: 288px;
    max-width: 568px;
    display: inline-flex;
    border-radius: 2px;
    margin: 24px;
    bottom: -100px;
    
  }
}

@media (max-width: 640px) {
  .paper-snackbar {
  /*
  Mobile:
    Single-line snackbar height: 48 dp
    Multi-line snackbar height: 80 dp
    Text: Roboto Regular 14 sp
    Action button: Roboto Medium 14 sp, all-caps text
    Default background fill: #323232 100%  
  */
    left: 0px;
    right: 0px;
  }
}

.paper-snackbar .action {
  background: inherit;
  display: inline-block;
  border: none;
  font-size: inherit;
  text-transform: uppercase;
  color: #ffeb3b;
  margin: 0px 0px 0px 24px;
  padding: 0px;
  min-width: min-content;
}
